@import (inline) '../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  height: 100%;
  font-family: sans-serif;
}

.app {
  
    .canvas {
      margin-top: 5vh;
      width: 80vw;
      height: 80vh;
    }
 
  
} 